
<div class="bootstrap-wrapper">
  <div class="container">
    <div  style="margin-top :20px;">

        <div class="container "><mat-card *ngIf="user">
  <h2>Profile Details</h2>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
           src="../../../assets/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
           alt=""
           class="profile-image"
          >
         <h1 style="margin-top: 10px">{{user.name}}</h1>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table">

              <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Admin</td>
                <td>{{user.isAdmin}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{user.enabled === true ? "Active" : "Non Active"}}</td>
              </tr>


            </table>




          </div>

        </div>


      </div>


    </div>

  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="accent">Clear</button>
  </mat-card-actions>
</mat-card>
</div>
</div>
</div>
</div>
<app-scroll></app-scroll>

