<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center" style="margin-top: 20px">
        Updating Questions of <mat-card-title>{{ quizzes.title }}</mat-card-title>
        <mat-icon color="primary">question_answer</mat-icon>
      </h2>
      <mat-card>
        <mat-card-header>
           <h3> Enter Details For the Question to be updated:</h3>


        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="submit(id)">
            <!-- <mat-form-field class="width">
              <mat-label>Enter The Content</mat-label>
              <textarea
                autofocus
                required
                type="text"
                name="content"
                [(ngModel)] ='question.content'
                #content="ngModel"
                rows="4"
                matInput
                placeholder="Enter your Content"
              ></textarea>
              <mat-error *ngIf="content.invalid && (content.errors && content.errors['required'])"> content is Required</mat-error>
            </mat-form-field> -->
            <ckeditor [editor]="Editor"  data="<h1>Update Your Content Here !</h1>" name="content" [(ngModel)] ="question.content"></ckeditor>
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-6">
                <mat-form-field class="width">
                  <mat-label>Enter Option1</mat-label>
                  <input
                    autofocus
                    required
                    type="text"
                    name="option1"
                    [(ngModel)] ='question.option1'
                    #option1="ngModel"
                    matInput
                    placeholder="Enter Option 1"
                  />
                  <mat-error *ngIf="option1.invalid && (option1.errors && option1.errors['required'])"> option1 is Required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="width">
                  <mat-label>Enter Option2</mat-label>
                  <input
                    autofocus
                    required
                    type="text"
                    name="option2"
                    [(ngModel)] ='question.option2'
                    #option2="ngModel"
                    matInput
                    placeholder="Enter Option 2"
                  />
                  <mat-error *ngIf="option2.invalid && (option2.errors && option2.errors['required'])"> option2 is Required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="width">
                  <mat-label>Enter Option3</mat-label>
                  <input
                    autofocus
                    required
                    type="text"
                    name="option3"
                    [(ngModel)] ='question.option3'
                    #option3="ngModel"
                    matInput
                    placeholder="Enter Option 3"
                  />
                  <mat-error *ngIf="option3.invalid && (option3.errors && option3.errors['required'])"> option3 is Required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="width">
                  <mat-label>Enter Option4</mat-label>
                  <input
                    autofocus
                    required
                    type="text"
                    name="option4"
                    [(ngModel)] ='question.option4'
                    #option4="ngModel"
                    matInput
                    placeholder="Enter Option 4"
                  />
                  <mat-error *ngIf="option4.invalid && (option4.errors && option4.errors['required'])"> option4 is Required</mat-error>
                </mat-form-field>
                <mat-label>Premium Questions</mat-label>
                <mat-slide-toggle color="primary" name="premium" style="margin-left: 10px;" [checked]="false" [(ngModel)]="question.premium"></mat-slide-toggle>
              </div>
            </div>
            <mat-form-field class="width">
              <mat-label>Select Answer</mat-label>
              <mat-select [(ngModel)]="question.answers" name="answer">
                <mat-option *ngIf="question.option1" [value]="question.option1" >{{question.option1}}</mat-option>
                <mat-option *ngIf=" question.option2" [value]="question.option2">{{question.option2}} </mat-option>
                <mat-option  *ngIf=" question.option3" [value]="question.option3">{{question.option3}} </mat-option>
                <mat-option  *ngIf="question.option4" [value]="question.option4">{{question.option4}} </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-card-actions class="text-center">
              <button type="submit"  mat-raised-button color="primary">Upload</button>
            </mat-card-actions>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
