<mat-toolbar>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <a routerLink="/" ><mat-icon color= 'primary'>book</mat-icon></a>
 </button>
 <a routerLink="/" ><span color= 'primary'>ExamPortal</span></a>
 <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active"><span>Login</span></a>
 </button>
 <button mat-icon-button class="example-icon favorite-icon" style="margin-left: 25px" aria-label="Example icon-button with heart icon" >
  <a *ngIf="!isLoggedIn" routerLink="/signup" routerLinkActive="active"><span>Register</span></a>
</button>
<button mat-icon-button>
  <a *ngIf="isLoggedIn && user.isAdmin == true" routerLink="/admin/profile" ><mat-icon color= 'primary'aria-hidden="false">account_circle</mat-icon>{{user.name}}</a>
</button>


    <button  *ngIf="isLoggedIn && user.isAdmin == false" style="margin-right: 10px; outline: none;" mat-button [matMenuTriggerFor]="menu"><mat-icon mat-list-icon>account_circle</mat-icon>{{user.name}}</button>
    <mat-menu  #menu="matMenu" class="custom-menu">
      <button style="outline: none;"  mat-menu-item routerLink="/user/userProfile">Profile</button>
      <button style="outline: none;" mat-menu-item>Premium Courses</button>
    </mat-menu>

<button  mat-icon-button  style="margin-left: 25px">
  <a *ngIf="isLoggedIn" (click)="logOut()" routerLink="/login"><mat-icon aria-hidden="false">logout</mat-icon></a>
</button>

</mat-toolbar>
