<div class="container" style="margin-top: 100px;">
  <form (ngSubmit)="submit()">
  <div class="row">
    <div class="col-sm">

      <mat-card>
        <mat-card-header>

          <mat-card-title>
            Basic Plan<mat-icon style="margin-left: 10px; color: #c0c0c0;">payments</mat-icon>
          </mat-card-title>

          <mat-card-subtitle>
            <mat-label>Price:</mat-label>
                 <b>₹300</b>

                 <input
                 type="radio"
                 style="margin-left: 20px;"
                 [value]="300"
                 name="amount"
                 [(ngModel)]="order.amount"
               />
          </mat-card-subtitle>


        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>3 Month Subscription</li>
            <li>Premium Quizz for 3 Months</li>
            <li>Practice Unlimited Quizzes for 3  Months</li>
          </ul>



        </mat-card-content>


      </mat-card>
    </div>
    <div class="col-sm">
   <mat-card>
        <mat-card-header>
          <mat-card-title>
            Standard<mat-icon style="margin-left: 10px; color: #ce9761;">payments</mat-icon>
          </mat-card-title>

          <mat-card-subtitle>
            <mat-label>Price:</mat-label>
                 <b>₹500</b><input
                 type="radio"
                 style="margin-left: 20px;"
                 [value]="500"
                 name="amount"
                 [(ngModel)]="order.amount"
               />
          </mat-card-subtitle>


        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>6 Months Subscription</li>
            <li>Premium Quizz for 6 Months</li>
            <li>Practice Unlimited Quizzes for 6  Months</li>
          </ul>



        </mat-card-content>



      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Premium<mat-icon style="margin-left: 10px; color: #FFD700;">payments</mat-icon>
          </mat-card-title>

          <mat-card-subtitle>
            <mat-label>Price:</mat-label>
                 <b>₹1000</b><input
                 type="radio"
                 style="margin-left: 20px;"
                 [value]="1000"
                 name="amount"
                 [(ngModel)]="order.amount"
               />
          </mat-card-subtitle>


        </mat-card-header>

        <mat-card-content>
          <ul>
            <li>12 Months Subscription</li>
            <li>Premium Quizz for 12 Months</li>
            <li>Practice Unlimited Quizzes for 12  Months</li>
          </ul>



        </mat-card-content>



      </mat-card>

    </div>
  </div>
  <mat-card-actions class="text-center" style="margin-top: 40px;">
    <button type="submit" mat-raised-button color="primary">Proceed</button>
  </mat-card-actions>
</form>
</div>
