<div class="bootstrap-wrapper">
  <div class="conatiner-fluid">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1 class="text-center">Welcome to Exam Portal</h1></mat-card-title>
            <mat-card-title>
              The Ultimate PlatForm For Online Examination
            </mat-card-title>
            <mat-card-subtitle>
              Challenge Yourself with some best Quizzes
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
<b>An online exam portal is a platform that allows examiners to conduct tests online. Most exam portals are web-based and do not require test takers to download an app or a program to take an exam.
</b>
<p>
  Our Exam Portal is India's top educational website for Quantative Aptitude, Reasoning, Objective General, English, GK(General Knowledge) Quiz, General Studies, Current Affairs & Aptitude for UPSC, state Psc,SSC, IBPS Bank, Railways, Defence, etc goverment job & service Recruiment examinations of India...
</p>
<span>
  <b> You Will get Your Result Immediately.....</b>
</span>


</mat-card-content>

<div class="col-md-12 offset-md-8">
  <img src="../../../assets/71814_1001055_57084_image-removebg-preview.png" style="border-radius: 8px; width: 25%; height: 25%;" alt="Exam Logo" />

</div>


  <mat-card-actions class="text-center">
    <button *ngIf="this.userRole == false" mat-raised-button routerLink="/user/0" color="primary">All Quizzes</button>
    <button *ngIf="this.userRole == true" mat-raised-button routerLink="/admin/profile" color="primary">Admin Panel</button>
  </mat-card-actions>




        </mat-card>

      </div>
    </div>
  </div>
</div>
