/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 background-image: url("./assets/back.jpeg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;


}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.mat-card {
  background-color: #E0FFFF;
  

}
.mat-toolbar {
  background-color: #E0FFFF;


}
.active {
  color: red;
}
