<mat-card style="margin-top: 20px" *ngFor="let q of quiz">
  <mat-card-header >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{q.title}}</mat-card-title>
    <mat-card-subtitle>History</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content><p>{{q.description}}</p></mat-card-content>
<mat-label>Status</mat-label>
<mat-card-content>{{q.enabled === "1" ? 'Active' :'Expired'}}</mat-card-content>
  <mat-card-actions
    ><button routerLink="/admin/questions" mat-flat-button color="primary">Questions</button
    ><button mat-stroked-button color="primary">
      Max Marks:{{q.maxMarks}}
    </button>
    <button  mat-stroked-button color="primary">
      Questions:{{q.numberOfQuestions}}
    </button>
    <button mat-flat-button color="primary">
      Attemps
    </button>
    <button [routerLink]="'/admin/quizz/'+q.id" mat-flat-button color="primary" style="margin-left: 15px;">
      Update
    </button>
    <button mat-flat-button color="warn" (click)="deleteQuiz(q.id)" style="margin-left: 15px;">
      Delete
    </button>
    </mat-card-actions
  >
</mat-card>
<div class="container text-center" style="margin-top: 20px;">
  <button routerLink="/admin/addQuizz" mat-raised-button color="primary">Add Quizz</button>
</div>
<app-scroll></app-scroll>
