.desc{
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-header-image
{
  background:url('../../../../assets/0_Zw1ZfCk0svcXVQXg.jpg');
  background-size: cover;
}

